<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.png"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Leidy Velez - Website</title>
  </head>
  <body>
    <header class="flex justify-between">
      <img
        src="../assets/images/logo_lv.png"
        alt="logo-page"
        class="rounded-full w-24 my-3 ml-8 flex items-center justify-center"
      />

      <nav class="flex flex-row items-center">
        <ul class="flex flex-row">
          <li class="flex-1 mx-2">
            <a class="font-semibold text-gray-800" href="#sobreMi">Sobre mi</a>
          </li>
          <li class="flex-1 mx-2">
            <a class="font-semibold text-gray-800" href="#portafolio"
              >Portafolio</a
            >
          </li>
          <li class="flex-1 mx-2 mr-12 pr-4">
            <a class="font-semibold text-gray-800" href="#contacto">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="sobreMi" class="mt-12 flex justify-center items-center">
        <div>
          <img
            class="rounded-full w-64 flex items-center justify-center"
            src="../assets/images/photo_perfil.png"
            alt="hero-photo"
          />
        </div>
        <div class="ml-12 w-64">
          <h2 class="text-4xl font-extrabold tracking-wide text-gray-800">
            Leidy Velez
          </h2>
          <h4 class="text-2xl font-semibold tracking-wide text-gray-800">
            Diseñadora de modas
          </h4>
          <p class="font-normal tracking-wide leading-snug text-gray-800">
            Soy diseñadora de modas, tengo 2 años de experiencia trabajando en
            Barranquilla y vendo mis productos por Instagram
          </p>
        </div>
      </section>

      <section id="portafolio" class="mt-12 flex">
        <div class="container mx-auto">
          <h2 class="text-center text-4xl font-semibold text-gray-800">
            Portafolio
          </h2>

          <div class="flex justify-center">
            <div class="w-1/4 rounded overflow-hidden shadow-lg mx-2">
              <img
                class="w-full h-64 object-cover object-center"
                src="../assets/images/img_1.jpg"
                alt="Sunset in the mountains"
              />
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-gray-800">
                  The Coldest Sunset
                </div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <div class="px-6 py-4">
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-2"
                  >#photography</span
                >
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
                  >#winter</span
                >
              </div>
            </div>

            <div class="w-1/4 rounded overflow-hidden shadow-lg mx-2">
              <img
                class="w-full h-64 object-cover object-center"
                src="../assets/images/img_2.jpg"
                alt="Sunset in the mountains"
              />
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-gray-800">
                  The Coldest Sunset
                </div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <div class="px-6 py-4">
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-2"
                  >#photography</span
                >
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
                  >#winter</span
                >
              </div>
            </div>

            <div class="w-1/4 rounded overflow-hidden shadow-lg mx-2">
              <img
                class="w-full h-64 object-cover object-center"
                src="../assets/images/img_3.jpg"
                alt="Sunset in the mountains"
              />
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-gray-800">
                  The Coldest Sunset
                </div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <div class="px-6 py-4">
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 my-2"
                  >#photography</span
                >
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700"
                  >#winter</span
                >
              </div>
            </div>
          </div>

          <div class="flex justify-center my-4">
            <button
              class="bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded uppercase"
            >
              Ver más en Instagram
            </button>
          </div>
        </div>
      </section>

      <section class="my-2 bg-black rounded-lg">
        <h2 class="text-center text-4xl font-semibold text-gray-100">
          Patrocinadores
        </h2>
        <div class="container mx-auto flex justify-evenly items-center py-6">
          <div class="border-solid border-2 rounded-lg mx-1 bg-white">
            <img
              src="../assets/images/partner_1.png"
              class="object-cover w-48 mx-0 pt-0"
              alt="partner_logo"
            />
          </div>
          <div class="border-solid border-2 rounded-lg mx-1 bg-white">
            <img
              src="../assets/images/partner_2.png"
              class="object-cover w-48 mx-0 pt-0"
              alt="partner_logo"
            />
          </div>
          <div class="border-solid border-2 rounded-lg mx-1 bg-white">
            <img
              src="../assets/images/partner_3.png"
              class="object-cover w-48 mx-0 pt-0"
              alt="partner_logo"
            />
          </div>
        </div>
      </section>
    </main>

    <footer id="contacto" class="bg-gray-900 mt-5 rounded-top">
      <div class="flex justify-center items-center pt-6">
        <ul class="flex">
          <li class="mx-6">
            <a href="#">
              <i class="mdi mdi-facebook text-white" aria-hidden="true"></i>
            </a>
          </li>
          <li class="mx-6">
            <a href="#">
              <i class="mdi mdi-instagram text-white" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="flex justify-start items-center pb-1">
        <p class="font-bold text-gray-100 ml-8">
          Developed & Design by Angel Archbold - 2020
        </p>
      </div>
    </footer>
  </body>
</html>
